@model FoodDeliveryWebApp.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Product Details</h1>

<div class="container">
    <h4>@Model.Name</h4>
    <hr />
    <div class="row row-cols-1 row-cols-md-3 g-4 m-3 d-flex align-items-center @*justify-content-center*@">

        @*<dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class = "col-sm-10">
                <partial name="_ProductPrice" model="Model"/>
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.InStock)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.InStock)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Image)
            </dt>
            <dd class = "col-sm-10">
                <partial name="_ImageArray" model="Model.Image" />
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayText(Model.Category.ToString())
            </dd>
        </dl>*@
        <div class="col">
            <div class="card accordion-body">
                <partial name="_ImageArray" model="Model.Image" />
                <div class="card-body">
                    @*<h5 class="card-title">@Model.Name</h5>*@
                    
                </div>
            </div>
        </div>
        <div class="col">
            <div>
                <h5>@Html.DisplayNameFor(model => model.Category) : @Model.Category?.Name</h5>
                <h5 class="card-text text-truncate">Description : @Model.Description</h5>
                <h5 class="card-text">Price : <partial name="_ProductPrice" model="Model" /></h5>
                <h5>@Html.DisplayNameFor(model =>model.InStock) : @Html.DisplayFor(model => model.InStock)</h5>
                @*@Html.DisplayFor(model => model.Category)*@
            </div>
        </div>
    </div>
</div>
<div style="text-align:center">
    <button class="btn btn-talabat" type="submit">
        <a class="text-white" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    </button>
    <button class="btn btn-talabat" type="submit"><a class="text-white" asp-action="Index">Back to List</a></button>
</div>
