@model IEnumerable<FoodDeliveryWebApp.Models.Order>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckOutDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.User.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            var guid = $"order{item.Id}";

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckOutDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.User.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address.FullAddress)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
            <tr>
                <td colspan="7">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-0">
                                <button class="btn" data-bs-toggle="collapse" data-bs-target="#@guid">
                                    Items
                                </button>
                            </h5>
                        </div>
                        <div id="@guid" class="collapse" aria-labelledby="headingOne">
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                Product
                                            </th>
                                            <th>
                                                Quantity
                                            </th>
                                            <th>
                                                Unit Price
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            @foreach (var OrderProduct in item.OrderProducts)
                                            {
                                                <td>
                                                    @OrderProduct.Product.Name
                                                </td>
                                                <td>
                                                    @OrderProduct.Quantity
                                                </td>
                                                <td>
                                                    @OrderProduct.UnitPrice
                                                </td>
                                            }
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>