@using FoodDeliveryWebApp.Models.Enums;
@model IEnumerable<FoodDeliveryWebApp.Areas.Admin.ViewModels.SellerViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Manage Restaurants</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StoreName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Actions
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StoreName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <input hidden value="@item.Id" name="SellerId" />
                    @*<select onchange="handleForm()" asp-for="@item.Status" class="form-control"
                asp-items="@Html.GetEnumSelectList<SellerStatus>()"
                name="SellerStatus">
                </select>*@
                    @if (item.Status != SellerStatus.Accepted)
                    {
                        <a class="btn btn-success" asp-action="Approve" asp-area="Admin" asp-controller="Approvals" asp-route-id="@item.Id">Approve</a>
                    }

                    @if (item.Status != SellerStatus.Rejected)
                    {
                        <a class="btn btn-danger" asp-action="Reject" asp-area="Admin" asp-controller="Approvals" asp-route-id="@item.Id">Reject</a>
                    }
                </td>

            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>

    </script>
}