@model FoodDeliveryWebApp.ViewModels.SellerOrdersViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
        <button class="nav-link active btn btn-outline-warning"
                id="@Html.IdFor(model => model.PostedOrders)-tab"
                data-bs-toggle="tab" data-bs-target="#@Html.IdFor(model => model.PostedOrders)"
                type="button" role="tab" aria-controls="@Html.IdFor(model => model.PostedOrders)"
                aria-selected="true">
            
            @Html.DisplayNameFor(model => model.PostedOrders)
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab"
            id="@Html.IdFor(model => model.InProgressOrders)-tab"
            data-bs-toggle="tab" data-bs-target="#@Html.IdFor(model => model.InProgressOrders)"
            type="button" role="tab" aria-controls="@Html.IdFor(model => model.InProgressOrders)"
            aria-selected="false">
            
            @Html.DisplayNameFor(model => model.InProgressOrders)
    </button>
  </li>
</ul>
<div id="Orders-tab" class="tab-content">

    <div class="tab-pane fade show active"
        id="@Html.IdFor(model => model.PostedOrders)"
        role="tabpanel" aria-labelledby="@Html.DisplayNameFor(model => model.PostedOrders)-tab">
        
        @*<partial name="_SellerOrderIndex" model="Model.PostedOrders"/>*@

    </div>

    <div class="tab-pane fade"
        id="@Html.IdFor(model => model.InProgressOrders)"
        role="tabpanel" aria-labelledby="@Html.DisplayNameFor(model => model.InProgressOrders)-tab">

        @*<partial name="_SellerOrderIndex" model="Model.InProgressOrders"/>*@

    </div>

</div>

@section Scripts {
    <script src="~/js/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/SellerOrderIndex.js"></script>
}