@model List<FoodDeliveryWebApp.ViewModels.SellerViewModel>

@{
    ViewData["Title"] = "Home";
    List<(string, int, bool)> categories = (List<(string, int, bool)>)ViewBag.Categories;
    bool promo = ViewBag.Promo;
    bool orderAlpha = ViewBag.OrderAlpha;
    bool orderRate = ViewBag.OrderRate;

    IEnumerable<FoodDeliveryWebApp.ViewModels.SellerViewModel>? TrendingSellers = ViewBag.TrendingSellers;
}

@section Head {
    <link rel="stylesheet" type="text/css" href="~/css/SquareImage.css" />
}

<div class="container">
    <div class="row">
        <div class="col-2 mt-1">
            <form>
                <p class="h4">Show results for</p>
                <br />
                <div class="form-group p-2">
                    <input type="checkbox" id="promo" name="promo" class="form-check-input" checked="@promo">
                    <label for="promo" class="form-check-label">Has Promocode</label>
                </div>
                <hr />
                <p class="text-black fw-bold my-0">Sort by</p>
                <div class="form-group p-2">
                    <input type="checkbox" id="name" name="name" class="form-check-input" checked="@orderAlpha">
                    <label for="name" class="form-check-label">Name</label>
                </div>
                <div class="form-group p-2">
                    <input type="checkbox" id="rating" name="rating" class="form-check-input" checked="@orderRate">
                    <label for="rating" class="form-check-label">Rating</label>
                </div>
                <hr />
                <p class="text-black fw-bold my-0">Filter by</p>
                @{
                    foreach (var item in categories)
                    {
                        <div class="form-group p-2">
                            <input type="checkbox" id="@item.Item2" name="@item.Item2" class="form-check-input" checked="@item.Item3">
                            <label for="@item.Item2" class="form-check-label">@item.Item1</label>
                        </div>
                    }
                }
                <div class="row justify-content-center mt-3">
                    <div class="col-auto">
                        <button type="submit" class="btn text-white" style="background-color: #ff5a00">Apply</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-10">
            <div class="row justify-content-center">
                <div class="col-8">
                    <div class="container-fluid text-center">
                        <form>
                            <div class="form-group row">
                                <div class="col-9">
                                    <input type="text" class="form-control" id="inputText" name="search" placeholder="Search...">
                                </div>
                                <div class="col-3">
                                    <button type="submit" class="btn text-white" style="background-color: #ff5a00">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            @if (TrendingSellers != null && TrendingSellers.Count() > 0)
            {
                <div class="row m-2 d-flex flex-fill flex-grow-1">

                    <h3 class="mt-2">Trending Restaurants</h3>

                    <ul class="list-group list-group-horizontal overflow-auto position-relative m-3">
                    @foreach (var seller in TrendingSellers)
                    {
                        <li class="list-group-item">
                            <partial name="_SellerCardPartial" model="seller" />
                        </li>
                    }
                    </ul>
                </div>                
            }

            <div class="row">
                @{
                    for (int i = 0; i < Model.Count; i += 3)
                    {
                        <div class="row row-cols-1 row-cols-md-3 g-4 m-3">
                            @{
                                for (int j = i; j < i + 3; j++)
                                {
                                    if (j == Model.Count) break;

                                    <partial name="_SellerCardPartial" model="Model[j]" />
                                }
                            }
                        </div>
                    }
                }
            </div>
        </div>
    </div>



</div>

<script>
    const detailsButtons = document.querySelectorAll('.details-btn');

    detailsButtons.forEach(button => {
        button.addEventListener('click', event => {
            const sellerId = $(event.target).attr('seller-id');
            window.location.href = `/Customer/Restaurants/Restaurant/${sellerId}`
        });
    });
</script>


<script>
    var orderName = document.getElementById("name")
    var orderRate = document.getElementById("rating")

    orderName.addEventListener("change", function () {
        if (this.checked) orderRate.checked = false;
    })
    orderRate.addEventListener("change", function () {
        if (this.checked) orderName.checked = false;
    })
</script>