@using FoodDeliveryWebApp.Contracts;
@using Microsoft.AspNetCore.Identity
@using FoodDeliveryWebApp.Areas.Identity.Data

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject ISellerRepo _seller
@inject ICustomerRestaurantsRepo _customer

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var userTask = UserManager.GetUserAsync(User);
        var user = userTask.GetAwaiter().GetResult();
        var firstName = "";
        var lasttName = "";
        if (user != null)
        {
             firstName = user.FirstName;
             lasttName = user.LastName;
            if (User.IsInRole("Seller"))
            {
                string imgSrc = "";
                var _user = _seller.GetById(user.Id);

                if ((_user?.Logo ??null) == null)
                {
                    FileStream fs = new("wwwroot/images/restaurant.jpg", FileMode.Open, FileAccess.Read);
                    BinaryReader br = new(fs);
                    byte[] imageBytes = br.ReadBytes((int)fs.Length);
                    imgSrc = $"data:image/png;base64,{Convert.ToBase64String(imageBytes)}";
                }
                else
                {
                    imgSrc = $"data:image/png;base64,{Convert.ToBase64String(_user.Logo)}";
                }
                <img id="sellerImg" src="@imgSrc" />
            }

            else if (User.IsInRole("Customer"))
            {
                string imgSrc = "";
                var _user = _customer.GetCustomer(user.Id);
                if ((_user?.ProfilePicture ?? null) == null)
                {
                    FileStream fs = new("wwwroot/images/user.jpg", FileMode.Open, FileAccess.Read);
                    BinaryReader br = new(fs);
                    byte[] imageBytes = br.ReadBytes((int)fs.Length);
                    imgSrc = $"data:image/png;base64,{Convert.ToBase64String(imageBytes)}";
                }
                else
                {
                    imgSrc = $"data:image/png;base64,{Convert.ToBase64String(_user.ProfilePicture)}";
                }
                <img id="sellerImg" src="@imgSrc" />
            }
        }

        <li class="nav-item">
            @if(User.IsInRole("Seller")){
                <a id="manage" class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @_seller.GetById(user.Id).StoreName</a>
            }
            else
            {
                <a id="manage" class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @firstName @lasttName</a>                
            }
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index")">
                <button id="logout" type="submit" class="nav-link btn btn-link text-white border-0">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white" id="register" asp-route-IsCustomer="True" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" id="register" asp-route-IsCustomer="False" asp-area="Identity" asp-page="/Account/Register">Sell with us</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
